#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  #board {
    display: flex;
    flex-wrap: wrap;
    width: 156px;
    height: 156px;
    border: 2px solid black;
  }
  
  .cell {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #header, #footer {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  


  #reset {
    font-size: 20px;
  }